<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TickItBugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TickItBugTracker.styles.css" asp-append-version="true" />
</head>
<body class="bgColor">
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="d-flex justify-content-around align-items-center m-3 gap-1">
                <div class="d-flex justify-content-evenly align-items-center gap-1">
                    <img src="~/imgs/LogoH1NoBg.png" class="logoHorizontal" alt="TickIt Logo Horizontally Oriented">
                    <h4><a href="/dashboard" class="btn btn-lg btn-secondary">Home</a></h4>
                    <h4><a href="/tickets/new" class="btn btn-lg btn-secondary">Add A Ticket</a></h4>
                </div>
                <form asp-action="logout" asp-controller="Home" method="post">
                    <input type="submit" value="Logout" class="btn btn-lg btn-danger">
                </form>
            </div>
        </nav>
    </header> *@
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom text-muted pb-3 mb-3">
                <li class="nav-item px-3">Home</li>
                <li class="nav-item px-3">Features</li>
                <li class="nav-item px-3">FAQs</li>
                <li class="nav-item px-3">About</li>
            </ul>
                <p class="text-center text-muted">2022 TickIt Bug Tracker</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>