@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@* Hero *@
<div class="text-center bgIndex">
    <img src="~/imgs/LogoV1NoBg.png" class="logoIndex" alt="Logo">
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-outline-dark btn-lg" href="/signin" role="button">LOGIN</a>
        <a class="btn btn-outline-dark btn-lg ms-2" href="/signin" role="button">CREATE AN ACCOUNT</a>
    </div>
</div>
@* Section A *@
<div class="container col-xxl-8 px-4 py-5 mt-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/imgs/IndexColorfulLaptop.jpg" class="imgIndex shadow rounded-pill" alt="Logo2">
        </div>
        <div class="col-lg-6">
            <h1>The future of bug tracking is ... <strong class="textColorIndex">simpler than you think.</strong></h1>
            <p class="lead">
                Overwhelmed by other tracking software on the market? TickIt puts the power of software bug tracking in your hands with an easy-to-use interface allowing you to add and organize your tickets by project, upload images to show where the bug is happening, and more!
            </p>
        </div>
    </div>
</div>
@* Section B *@
<div class="container col-xxl-8 px-4 py-5 mt-4 mb-4">
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 margin2">
            <img src="~/imgs/IndexPeopleSmiling.jpg" class="imgIndex rounded-pill shadow" alt="Logo2">
        </div>
        <div class="col-lg-6">
            <h1>Bugs can be hard, so we've made tracking them <strong class="textColorIndex">easy!</strong></h1>
            <p class="lead">
                Let us help you stay organized with your teams! Join bug fixing forces with your friends and colleagues by adding multiple users to a single ticket. You can also leave comments for status updates.
            </p>
        </div>
    </div>
</div>
